* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.container {
  width: 100vw;
}

.container section {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section .about {
  height: 30%;
  width: 60%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section .img {
  height: 30%;
  width: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Nav bar styling */
#about-me, #hobbies, #projects, #contact {
  padding-top: 46px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 5px;
  background-color: #3d6eb3;
  background-color: #9B3F69;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.main-nav li {
  color: white;
  text-decoration: none;
}

.main-nav li a:link {
  text-decoration: none;
}

.main-nav li a {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color: white;
}

.page1 .codingimage {
  height: 100%;
  width: 100%;
  background-image: url("./codeimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.page1 .text {
  text-align: center;
  line-height: 40px;
  letter-spacing: 0.2em;
  position: absolute;
  top: 40vh;
  padding: 1%;
  width: 100%;
  text-align: center;
  background-color: rgba(155, 63, 105, 0.9);
  color: whitesmoke;
}

.page1 .text h1 {
  font-size: 35px;
  font-weight: bolder;
  line-height: 1.25em;
}

.page1 .text p {
  font-size: 24px;
  text-align: center;
  padding: 0;
}

.page2 .imagebox1 {
  background-image: url("./portosunset.jpg");
}

.page3 .imagebox2 {
  background-image: url("./nursing.jpg");
}

.page4 .imagebox3 {
  background-image: url("./tech.jpg");
}

.page5 .imagebox4 {
  background-image: url("./duo.jpg");
}

.page6 .imagebox5 {
  background-image: url("./worldmap.jpg");
}

.container .contact-container {
  height: 100vh;
  width: 60%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 1;
}

.container .contact-container fieldset {
  border-radius: 5px;
  text-align: left;
}

.container .contact-container input {
  border: none;
  color: black;
  padding: 7px;
}

.container .contact-container #submit-button {
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.container .contact-container #submit-button:hover {
  opacity: 0.8;
}

.icons {
  height: 30%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-size: contain;
  background-position: center;
}

.icons .fa-linkedin {
  font-size: 40px;
}

.icons .fa-github-square {
  font-size: 40px;
}

.icons .fa-envelope {
  font-size: 40px;
}

footer {
  background-color: #e0dddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
  .container .main-nav {
    padding: 10px;
  }
  .container nav li {
    width: 25%;
    display: inline-block;
  }
  .container nav ul {
    white-space: nowrap;
    margin: 0 auto;
  }
  .container .page2, .container .page3, .container .page4, .container .page5, .container .page6 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 2fr 2fr 0.5fr;
        grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-auto-rows: 100%;
    grid-gap: 40px;
  }
  .container .page2 .left, .container .page3 .left, .container .page4 .left, .container .page5 .left, .container .page6 .left {
    height: unset;
    width: unset;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .page2 .right, .container .page3 .right, .container .page4 .right, .container .page5 .right, .container .page6 .right {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}
/*# sourceMappingURL=main.css.map */