* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.container {
    // height: 1000vh;
    width: 100vw;
}

// .container section {
//     height: 10%;
//     width: 100%;
// }

body {
    font-family:  'Roboto Mono', monospace;
}

.codingimage {
    height: 100%;
    width: 100%;
    background-image: url("./codeimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    text-align: center;
    line-height: 40px;
    letter-spacing: 0.2em;
    position: absolute;
    top: 40vh;
    padding: 1%;
    width: 100%;
    text-align: center;
    background-color: rgba(155, 63, 105, 0.9);
    color: whitesmoke;
}

.text h1 {
    font-size: 35px;
    font-weight: bolder;
    line-height: 1.25em;
    // font-family: "Special Elite", cursive;
    
}

.welcome .text p {
    font-size: 24px;
    text-align: center;
    padding: 0;
}





/* Nav bar styling */

.main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    // border: 1px solid black; 
    align-items: flex-start;
    padding-bottom: 5px;
    background-color: rgb(61, 110, 179);
    background-color: #9B3F69;
    position: sticky;
    top: 0px;
}
nav li {
    color: white;
    text-decoration: none;  
}

a:link {
    text-decoration: none;
  }

nav li a {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: white;  
}

// a:hover { 
//     color: white; 
// }



 /* .imagebox1 { 
    width: 70%;
    height: 80%;
    background-image: url("./portosunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}  */

.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container .about {
    height: 30%;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imagebox1 {
    height: 30%;
    width: 60%;
    background-image: url("./portosunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.page3 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container .nurse {
    height: 30%;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imagebox2 {
    height: 30%;
    width: 60%;
    background-image: url("./nursing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.page4 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container .tech {
    height: 30%;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imagebox3 {
    height: 30%;
    width: 60%;
    background-image: url("./tech.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.page5 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container .duo {
    height: 30%;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imagebox4 {
    height: 30%;
    width: 60%;
    background-image: url("./duo.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.page6 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container .hobbies {
    height: 30%;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imagebox5 {
    height: 30%;
    width: 60%;
    background-image: url("./worldmap.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.page10 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container .contact-container {
    height: 50%;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 1;

    fieldset {
        border-radius: 5px;
        text-align: left;
    }
        input {
            border: none;
            color: black;
            padding: 7px;
        }
    #submit-button  {
        padding: 20px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
        opacity: 0.8;
        } 
    }
    
}
.icons {
    height: 30%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-size: contain;
    background-position: center;

   .fa-linkedin {
       font-size: 40px;
   }     

   .fa-github-square {
    font-size: 40px;
   }

   .fa-envelope {
    font-size: 40px;
   }
}

    footer {
        background-color: #e0dddd;
        display: flex;
        justify-content: flex-end;

    }

@media only screen and (min-width: 768px) {

.container {

    .main-nav {
        padding: 10px;
    }

    nav li {
            width: 25%;
            display: inline-block;
        }

    nav ul { 
            white-space: nowrap;
            margin: 0 auto;
        }
    
    #about-me, #hobbies-interests, #contact {
        padding-top: 46px;
    }

    .page2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 5%;
        // border: 2px solid green;
        margin: 0 auto;

        .about.right {
            display: flex;
            height: 80%;
            flex-direction: row;
            // border: 1px solid red;
            width: 40%;
            text-align: center;
            align-items: center;

        }

        .left {
            display: flex;
            flex-direction: row;
            width: 40%;
            height: 80%;
            // border: 1px solid red;
        }
    }

    .page3 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 5%;
        // border: 2px solid green;
        margin: 0 auto;

        .nurse.right {
            display: flex;
            height: 80%;
            flex-direction: row;
            // border: 1px solid red;
            width: 40%;
            text-align: center;
            align-items: center;

        }

        .left {
            display: flex;
            flex-direction: row;
            width: 40%;
            height: 80%;
            // border: 1px solid red;
        }
    }

    .page4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 5%;
        border: 2px solid green;
        margin: 0 auto;

        .tech.right {
            display: flex;
            height: 80%;
            flex-direction: row;
            border: 1px solid red;
            width: 40%;
            text-align: center;
            align-items: center;

        }

        .left {
            display: flex;
            flex-direction: row;
            width: 40%;
            height: 80%;
            border: 1px solid red;
        }
    }

    .page5 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 5%;
        border: 2px solid green;
        margin: 0 auto;

        .duo.right {
            display: flex;
            height: 80%;
            flex-direction: row;
            border: 1px solid red;
            width: 40%;
            text-align: center;
            align-items: center;

        }

        .left {
            display: flex;
            flex-direction: row;
            width: 40%;
            height: 80%;
            border: 1px solid red;
        }
    }
    .page6 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 5%;
        border: 2px solid green;
        margin: 0 auto;

        .hobbies.right {
            display: flex;
            height: 80%;
            flex-direction: row;
            border: 1px solid red;
            width: 40%;
            text-align: center;
            align-items: center;

        }

        .left {
            display: flex;
            flex-direction: row;
            width: 40%;
            height: 80%;
            border: 1px solid red;
        }
    }

}       
    




}